<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <style>
            setcion div {
                display: inline-block;
                width: 30%;
            }

            section {
                display: flex;
                justify-content: space-around;
            }

            div {
                text-align: center;
            }

        </style>
    </head>
    <body>
        <div id="content">
            <div id="Welcome">
                <h1>Welcome to the Test</h1>
                <p>We're going to build a cool application using a MVC framework!  This application was built with the Billage88 folks!</p>
                <a href="/signinPage">Start</a>
            </div>
            <section>
                <div>
                    <h2>Manage Users</h2>
                    <p> Using this application, you'll learn how to add, remove, and edit users for the application.</p>
                </div>
                <div>
                    <h2>Leave messages</h2>
                    <p>Users will be able to leave a message to another user using this application.</p>
                </div>
                <div>
                    <h2>Edit User Information</h2>
                    <p>Admins will be able to edit another user's information (email address, first name, last name, etc.).
                </div>
            </section>
        </div>
    </body>
</html>